@import url("https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap");
body {
  background-image: url(https://picsum.photos/1024/768);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  padding: auto auto;
}
.metal-mania-regular {
  font-family: "Metal Mania", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1 {
  text-align: center;
  margin-top: 25vh;
  font-family: "Metal Mania", system-ui;
  font-size: 7em;
  margin: 0;
  margin-top: 100px;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.87); /* offsetX, offsetY, blurRadius, color */
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1em;
  padding: 1em;
  margin: 0 auto;
  border: 6px solid rgb(228, 224, 9);
  width: fit-content;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 21px;
}
.key {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1em;
  height: 1em;
  border: 3px solid #17160a;
  background-color: #ee5696;
  padding: 1em;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.7s;
}
.key:hover {
  background-color: darkorchid;
  color: rgb(0, 0, 0);
}
.tocando {
  transform: scale(2);
  rotate: 45deg;
  border-color: yellow;
  box-shadow: 2px 2px 2px black;
  background-color: darkorchid;
}
